header {
    background-color: #424E61;
    color: white;
}
.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
*{
    margin: 0;
    padding: 0;
}
.ferramentas-esportivas{
    width: 25%;
}
.escola {
    background-color: #66dffa;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    text-align: center;
    padding: 24px 0;
}

body {
    font-family: 'Poppins' , sans-serif;
}
.estudante-imagem{
    width: 120px;
}
.estudante-div{
    justify-content: center;
    text-align: center;
    padding: 24px 0;
}
.estudante-todos{
    background-color: #ffff;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.estudante-titulo{
    text-align: center;
    padding: 24px 0;
}
.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;

}